<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base :: common_header (~{::title},~{::link})}">
    <title>짜툴</title>
    <link rel="stylesheet" th:href="@{/css/test/form.css}">
</head>
<body>
<div th:insert="~{fragment/navigation :: copy}"></div>
<form class="test-form-container" enctype="multipart/form-data" method="post" th:action th:object="${test}">
    <div class="mb-3">
        <label class="form-label" for="exampleFormControlInput1">테스트 제목</label>
        <input class="form-control" id="exampleFormControlInput1" th:field="*{testTitle}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile">대표 이미지</label>
        <input class="form-control" id="formFile" th:field="*{testImageFile}" type="file">
    </div>

    <button class="btn btn-primary" type="submit">퀴즈 만들기</button>
</form>
</body>
</html>