<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,css)">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/base.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <title th:replace="${title}">짜툴</title>
    <link th:replace="${css}">
    <!-- font -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100..900&family=Poor+Story&display=swap"
          rel="stylesheet">
</head>
<body>

</body>
</html>