body form {
    font-size: 1.25rem;
    padding: 0 80px;
}

.quiz-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.select-container {
    display: flex;
    align-items:center;
    margin-bottom: 12px;
}

#view-count-select {
    margin-left: 20px;
}

.form-check label {
    width: 500px;
}