<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base :: common_header (~{::title},~{::link})}">
    <title>짜툴</title>
    <link rel="stylesheet" th:href="@{/css/quiz/editForm.css}">
</head>
<script th:src="@{/js/quiz/editForm.js}"></script>
<body>
<div th:insert="~{fragment/navigation :: copy}"></div>
<form class="test-form-container" enctype="multipart/form-data" method="post" th:action th:object="${quiz}">
    <input th:field="*{testId}" type="hidden"/>
    <div class="mb-3">
        <label class="form-label" for="exampleFormControlInput1">문제</label>
        <input class="form-control" id="exampleFormControlInput1" th:field="*{quizContent}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile">이미지</label>
        <input class="form-control" id="formFile" onchange="readURL(this);" th:field="*{quizImageFile}" type="file">
        <img alt="quiz-image" id="preview" th:src="${quiz.quizImage}"/>
    </div>

    <div class="form-check" id="view-content-container"
         th:each="view, viewIndex: *{viewList}">
        <input th:name="'viewList['+${viewIndex.index}+'].viewId'" th:value="${view.viewId}" type="hidden"/>
        <input
                class="form-check-input"
                th:checked="${view.isCorrect eq 1}"
                th:id="'view-answer-' + ${viewIndex.count}"
                th:name="'viewList['+${viewIndex.index}+'].isCorrect'"
                th:value="${view.isCorrect eq 1? '1' : '0'}"
                type="checkbox">
        <label>
            <input class="form-control" th:name="'viewList[' + ${viewIndex.index} + '].viewContent'"
                   th:value="${view.viewContent}" type="text">
        </label>
    </div>
    <div>
        <div class="quiz-form-buttons">
            <button class="btn btn-primary" type="submit">수정하기</button>
        </div>
    </div>
</form>
</body>
</html>