<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base :: common_header (~{::title},~{::link})}">
    <title>짜툴</title>
    <link rel="stylesheet" th:href="@{/css/quiz/form.css}">
</head>
<script th:src="@{/js/quiz/form.js}"></script>
<body>
<div th:insert="~{fragment/navigation :: copy}"></div>
<form class="test-form-container" method="post" th:action th:object="${quiz}">
    <div class="mb-3">
        <label class="form-label" for="exampleFormControlInput1">문제</label>
        <input class="form-control" id="exampleFormControlInput1" th:field="*{quizContent}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile">이미지</label>
        <input class="form-control" id="formFile" th:field="*{quizImage}" type="file">
    </div>

    <div class="select-container">
        <div>보기</div>
        <select
                aria-label="view count"
                class="form-select"
                id="view-count-select"
                onchange="setView(this)"
                style="width: 200px;">
            <option value="0">보기 개수</option>
            <option th:selected="(${param.viewCount[0]} == '1')" value="1">1개</option>
            <option th:selected="(${param.viewCount[0]} == '2')" value="2">2개</option>
            <option th:selected="(${param.viewCount[0]} == '3')" value="3">3개</option>
            <option th:selected="(${param.viewCount[0]} == '4')" value="4">4개</option>
            <option th:selected="(${param.viewCount[0]} == '5')" value="5">5개</option>
        </select>

    </div>
    <div class="form-check" id="view-content-container"
         th:each="i: ${#numbers.sequence(1, #lists.size(quiz.viewList))}">
        <th:block th:with="index=${i-1}">
            <input
                    class="form-check-input"
                    th:checked="${quiz.viewList[__${index}__].isCorrect eq 1}"
                    th:name="view-answer"
                    th:value="${i}"
                    type="radio">
            <label th:for="${i}">
                <input class="form-control" th:field="${quiz.viewList[__${index}__].viewContent}" type="text">
            </label>
        </th:block>
    </div>
    <div>
        <div class="quiz-form-buttons">
            <button class="btn btn-primary" onclick="fetchViewPost(quizId, 'add')" type="submit">퀴즈 추가</button>
            <button class="btn btn-danger" type="submit">테스트 제작 종료</button>
        </div>
    </div>
</form>
</body>
</html>